<div>{{titulo_pagina}}</div>
<div [style.padding] = "padding ? 40 : 0">
		<h3>{{ titulo }}</h3>
  	<div *ngIf="estudiantes.length > 0">
	  	<ul>
	  		<li *ngFor="let estudiante of estudiantes">
	  			<span (click)="clickEnEstudiante($event)">
	  				{{estudiante}}
	  			</span>
	  		</li>
	  	</ul>
  	</div>
  	<div *ngIf="estudiantes.length == 0">
  		<span>No hay ningún estudiante</span>
  	</div>
</div>